* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 2000px;
}
.container-full {
  width: 100vw;
  background-color: #999;
}
.container {
  width: 80vw;
  height: 100px;
  margin: 0 auto;
  z-index: 98;
}
/* top header style */
.top-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #57c8f8;
  padding: 0 9rem;
  height: 18vh;
  color: #fff;

  z-index: 9;
  span {
    display: inline-block;
  }
  .logo {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    top: 45px;
    position: relative;
  }
  .contact-info {
    display: grid;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    grid-template-columns: 3fr 3fr 1fr 1fr;
    .mail,
    .whatsapp {
      font-size: 22px;
    }
    .email {
      position: relative;
      top: -17px;
      right: 15px;
      .info {
        position: relative;
        top: 43px;
        right: 66px;
        font-size: 24px;
        background-color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        i {
          position: absolute;
          top: 13px;
          left: 13px;
          background: rgb(231, 231, 236);
          background: linear-gradient(
            90deg,
            rgba(231, 231, 236, 1) 0%,
            rgba(13, 184, 179, 1) 6%,
            rgba(240, 133, 18, 1) 100%
          );
        }
      }
    }
    .phone {
      position: relative;
      top: -17px;
      right: 15px;
      .info {
        background-color: #fff;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 42px;
        right: 65px;

        i {
          position: relative;
          top: 14px;
          left: 14px;
          background: #e7e7ec;
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#e7e7ec),
            color-stop(6%, #0db8b3),
            to(#f08512)
          );
          background: linear-gradient(
            90deg,
            #e7e7ec 0%,
            #0db8b3 6%,
            #f08512 100%
          );
          font-size: 24px;
          background: rgb(231, 231, 236);
          background: linear-gradient(
            90deg,
            rgba(231, 231, 236, 1) 0%,
            rgba(13, 184, 179, 1) 6%,
            rgba(240, 133, 18, 1) 100%
          );
        }
      }
    }
    .info-p {
      font-size: 12px;
    }
    .social {
      position: relative;
      right: 50px;
      top: 6px;
      font-size: 24px;
      margin-right: 25px;

      span {
        text-align: center;
      }
    }
  }
}
/* nav bar start */
.nav {
  position: fixed;
  top: 130px;
  margin: 0 10vw;
  background-color: #fff;
  border-radius: 5px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 16px;
    ul {
      display: flex;
      list-style: none;
    }
    .url {
      ul {
        padding: 7px 10px;
        li {
          margin: 10px 20px;
          line-height: 60px;
        }
      }
    }
    .log {
      ul {
        font-size: 20px;
        li {
          margin: 10px 20px;
          line-height: 60px;
          opacity: 0.6;
        }
      }
    }
  }
}
.gear {
  background-color: #fff;
  position: fixed;
  top: 300px;
  padding: 10px 20px;
  font-size: 35px;
  z-index: 99;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bac-cover {
  .opacty {
    background-color: #000;

    top: 195px;
    left: 0;
    width: 100%;
    opacity: 0.5;

    img {
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }
}
.our-courses {
  display: flex;
  .col {
    background-color: #ccc;
  }
}
